<h1>Listando os diretores</h1>

<div class="movie-container">
  <% @directors.each do |director| %>
    <div class="movie-card">
      <p>
        <strong>Diretor: </strong><%= director.name %>
        <div class="button-container">
          <button><%= link_to 'Ver mais', director %></button>
          <button><%= link_to 'Apagar', director, data: { turbo_method: :delete, turbo_confirm: 'Tem certeza que deseja apagar?' } %></button>
        </div>
      </p>
    </div>
  <% end %>
</div>
