body {
  font-family: Arial, sans-serif;
  background-color: #001E19;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav, footer {
  text-align: center;
  padding: 10px 0;
}

nav button, footer button {
  background-color: #EB6B38;
  color: #FFFFFF;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav button a, footer button a {
  text-decoration: none;
  color: inherit;
}

nav button:hover, footer button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  background-color: #EB6B38;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.movie-card p {
  margin: 0;
  padding-top: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-container button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.button-container button a {
  color: #FFFFFF;
}

.button-container button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #EB6B38;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #EB6B38;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #FFFFFF;
}

form input[type="text"],
form select {
  width: calc(100% - 22px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

form input[type="submit"] {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

form input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #EB6B38;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

h1 strong {
  color: #EB6B38;
}

dt {
  margin-top: 20px;
}

dl {
  margin-bottom: 10px;
  color: #FFFFFF;
}

button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  margin-top: 20px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #EB6B38;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

.flash-warning {
  background-color: #EB6B38;
  color: #FFFFFF;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}
